.add {
    background-color: #4bd64b;
    width: 40%;
    margin-right: 2.5%;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #666;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .removeAll {
    display: block;
  
    background-color: #c41010;
    width: 95%;
    padding: 8px;
    border: 1px solid #666;
    border-radius: 2px;
    margin: 4px auto 20px;
    color: #fff;
    text-transform: uppercase;
  }