button {
  font-weight: bold;
  font-size: 1.2em;
}

.add {
  background-color: #4bd64b;
  width: 43.8%;
  margin: 10px;
  margin-right: 0;
  padding: 9px;
  border: 1px solid #666;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
}

.removeAll {
  display: block;

  background-color: #c41010;
  width: 95%;
  padding: 8px;
  border: 1px solid #666;
  border-radius: 2px;
  margin: 4px auto 20px;
  color: #fff;
  text-transform: uppercase;
}

.add:hover {
  cursor: pointer;
}

.removeAll:hover {
  cursor: pointer;
}